:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .field{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }